spa-terraform/.idea
spa-terraform/.terraform
spa-terraform/terraform.auto.tfvars
spa-terraform/terraform.tfstate
spa-terraform/terraform.tfstate.backup
i18n-terraform/.terraform
i18n-terraform/.idea
i18n-terraform/terraform.auto.tfvars
